{% extends 'base.html' %}

{% block title %}Rechner - Finanzrezept{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">
        <i class="bi bi-calculator"></i> Finanzrechner
    </h1>
    
    <div class="row g-4">
        <!-- Zinseszinsrechner -->
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-graph-up"></i> Zinseszinsrechner
                    </h5>
                    <p class="card-text">
                        Berechnen Sie, wie sich Ihr Vermögen durch Zinseszins entwickelt. 
                        Berücksichtigen Sie dabei einen Anfangsbetrag und regelmäßige Einzahlungen.
                    </p>
                    <a href="{% url 'core:compound_interest_calculator' %}" class="btn btn-primary">
                        <i class="bi bi-arrow-right"></i> Zum Rechner
                    </a>
                </div>
            </div>
        </div>
        
        <!-- Risikoprofil-Rechner -->
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-hourglass-split"></i> Risikoprofil-Rechner
                    </h5>
                    <p class="card-text">
                        Ermitteln Sie Ihr persönliches Risikoprofil für die Geldanlage.
                    </p>
                    <a href="{% url 'core:risk_profiler' %}" class="btn btn-primary">
                        <i class="bi bi-arrow-right"></i> Zum Rechner
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 