{% extends 'base.html' %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-4 fw-bold text-primary">
        <i class="bi bi-graph-up-arrow"></i> Willkommen bei Finanzrezept
    </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Hier findet ihr Beiträge und Rechner rund um private Finanzen. 
            Bitte schaut euch zum Einstieg folgenden <a href="{% url 'core:blog_post' 'willkommen' %}">Beitrag</a> an.
        </p>
    </div>
</div>

<div id="features" class="container px-4 py-5">
    <h2 class="pb-2 border-bottom"></h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 p-3 rounded">
                <i class="bi bi-journal-text"></i>
            </div>
            <div>
                <h3 class="fs-2">Blog</h3>
                <p>Beiträge zum Thema persönlichen Finanzen.</p>
                <a href="{% url 'core:blog_list' %}" class="btn btn-primary">
                    <i class="bi bi-arrow-right"></i> Zum Blog
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 p-3 rounded">
                <i class="bi bi-calculator"></i>
            </div>
            <div>
                <h3 class="fs-2">Finanzrechner</h3>
                <p>Hier findet ihr verschieden Rechner zum Thema Finanzen. </p>
                <a href="{% url 'core:calculators' %}" class="btn btn-primary">
                    <i class="bi bi-arrow-right"></i> Zu den Rechnern
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 