{% extends 'base.html' %}

{% block title %}Finanzrezept - Ihr persönlicher Finanzmanager{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="display-4 mb-4">
                <i class="bi bi-graph-up"></i> Willkommen bei Finanzrezept
            </h1>
            <p class="lead mb-4">
                Ihr persönlicher Finanzmanager für Deutschland. 
                Entdecken Sie unsere Tools und Ressourcen für bessere Finanzentscheidungen.
            </p>
            
            <div class="row g-4 mt-5">
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="bi bi-journal-text"></i> Blog
                            </h5>
                            <p class="card-text">
                                Lesen Sie unsere Artikel zu Finanzthemen, 
                                Steuertipps und Investmentstrategien.
                            </p>
                            <a href="{% url 'core:blog_list' %}" class="btn btn-primary">
                                Zum Blog
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="bi bi-calculator"></i> Rechner
                            </h5>
                            <p class="card-text">
                                Nutzen Sie unsere Finanzrechner für 
                                Zinseszins, Steuern und mehr.
                            </p>
                            <a href="{% url 'core:calculators' %}" class="btn btn-primary">
                                Zu den Rechnern
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 